{{#extend "main"}}
    {{#content "header" mode="append"}}
    {{/content}}
    {{#content "body"}}
        <p>500</p>
    {{/content}}
    {{#content "footer" mode="append"}}
    {{/content}}
{{/extend}}