{{#extend "main"}}
    {{#content "header" mode="append"}}
        <link rel="stylesheet" href="/css/index.css">
    {{/content}}
    {{#content "body"}}
        {{#extend "modules/navbar"}}{{/extend}}
        {{#extend "modules/fixed-link"}}{{/extend}}

        <div class="container">
            {{#if error}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert">
                            <span>{{error}}</span>
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#each links}}
                {{#extend "modules/link-element" link=this}}{{/extend}}
            {{/each}}
        </div>

    {{/content}}

    {{#content "scripts" mode="append"}}
        <script type="application/javascript" src="/js/index.js"></script>
    {{/content}}
{{/extend}}