{{#extend "main"}}
    {{#content "header" mode="append"}}
        <link rel="stylesheet" href="/css/index.css">
    {{/content}}
    {{#content "body"}}
        {{#extend "modules/navbar"}}{{/extend}}
        {{#extend "modules/fixed-link"}}{{/extend}}

        <div class="container">
            <div class="searcher">
                <form action="/search" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="text" placeholder="Text to find" value="" autocomplete="off"/>
                        <button type="submit" class="btn btn-primary btn-raised pull-right">Search</button>
                        <button class="btn btn-default pull-right cancel">Cancel</button>
                    </div>
                </form>
            </div>

            {{#if error}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert">
                            <span>{{error}}</span>
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#if results.links}}
                {{#extend "modules/filters-applied"}}{{/extend}}

                {{#each results.links}}
                    {{#extend "modules/link-element" link=this parent=../this}}{{/extend}}
                {{/each}}
            {{else}}
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img src="/images/sad_star.png"/>

                        <div class="no-links">
                            <span>Sorry... No links found</span>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

    {{/content}}

    {{#content "scripts" mode="append"}}
        <script type="application/javascript" src="/js/index.js"></script>
    {{/content}}
{{/extend}}